@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet");

body {
  background: rgb(69, 69, 69);
}

.nav-link {
  color: rgb(13, 215, 242);
  font-family: Michroma, sans-serif;
}
.nav-link:hover {
  color: rgb(212, 210, 210);
}

.navbar-nav .nav-link.active {
  color: rgb(212, 210, 210);
}
.navbar-brand img {
  width: 40px;
}
.navbar-toggler {
  background-color: rgb(212, 210, 210);
}

.sidebar {
  color: rgb(229, 228, 228);
  background-color: var(--bs-body-color);
  font-family: "Roboto", sans-serif;
  padding: 1em;
  margin-left: 30px;
}
.sidebar a {
  text-decoration: none;
  color: rgb(13, 215, 242);
  font-family: Michroma, sans-serif;
}
.sidebar a:hover {
  color: rgb(229, 228, 228);
}
.card {
  font-family: "Roboto", sans-serif;
  border: 0;
  margin-right: 20px;
}
.back-slide {
  background-color: var(--bs-body-color);
  margin-top: 25px;
}
.card-title {
  color: rgb(13, 215, 242);
  font-family: Michroma, sans-serif;
}
.card-body {
  background-color: var(--bs-body-color);
  color: rgb(229, 228, 228);
}
.card-body a {
  font-family: Michroma, sans-serif;
  background-color: rgb(87, 87, 87);
  border-color: var(--bs-body-color);
}
.card-body a:hover {
  background-color: rgb(13, 215, 242);
}

.slide-text {
  color: rgb(218, 216, 216);
  margin: auto auto;
  padding-right: 5em;
  padding-left: 3em;
}
.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: rgb(13, 215, 242);
  margin: auto auto;
  font-family: Michroma, sans-serif;
}
footer {
  background-color: var(--bs-body-color);
}
.help {
  color: rgb(218, 216, 216);

  font-family: Michroma, sans-serif;
}

.call-anim {
  animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}
